.input_box{
  display: inline;
  flex-direction: column;
  padding: 0 4px 0 4px;
}

input{
  text-align: center;
  letter-spacing: 1px;
  height: 6vh;
  width: 7vw;
  max-width: 1000px;
  min-width: 7vw;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid  rgb(126, 209, 230);
  background-color: white;
}
input:focus{
  border: 1px solid  rgb(10, 44, 158);
  outline: none;
}


.parent_input{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}